As with states, many municipalities within states have had varying responses to the Covid-19 pandemic. As a test case, we chose New York State to assess if policy differences between state regions had an association with twitter sentiment scores.

In [1]:
import pandas as pd
import numpy as np
import datetime
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 60)

In [2]:
tweets = pd.read_csv('./combined_us.csv')

C:\Users\ianbo\anaconda3\envs\dsi\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,created_at,favourites_count,status_id,lang,place_full_name,retweet_count,text,account_created_at,screen_name,followers_count,friends_count,verified,city,state,is_reply,is_retweet,country_code,place_type,user_id,source,is_quote
0,2020-08-10 04:44:47+00:00,0,1.292683e+18,en,"Dallas, TX",0,Matching our swimsuits may have been a step to...,2009-06-25 19:58:31+00:00,LoraleeL,1415,610,False,Dallas,TX,False,False,US,unspecified,NaN,NaN,NaN
1,2020-08-10 06:18:56+00:00,0,1.292707e+18,en,"California, USA",0,1st staying overnight in a tent! Social distan...,2017-02-20 07:17:49+00:00,Lesmiz_79,48,569,False,unspecified,CA,False,False,US,unspecified,NaN,NaN,NaN
2,2020-08-10 04:59:59+00:00,0,1.292687e+18,en,"Jamesburg, NJ",0,Pandemic vibes✨ #friendsfromthemotherland #gua...,2011-06-21 15:43:45+00:00,MaruSardi10,51,241,False,Jamesburg,NJ,False,False,US,unspecified,NaN,NaN,NaN
3,2020-08-10 04:56:50+00:00,0,1.292686e+18,en,"Baltimore, MD",0,I had this great conversation with my sister a...,2013-11-19 12:29:30+00:00,marloDeWawa,1001,890,False,Baltimore,MD,False,False,US,unspecified,NaN,NaN,NaN
4,2020-08-10 04:41:18+00:00,0,1.292682e+18,en,"Florida, USA",0,More Puzzles for your lockdown needs at WOD. @...,2012-03-10 04:36:48+00:00,IggyTorres,15,50,False,unspecified,FL,False,False,US,unspecified,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232153,2020-03-29 23:59:34+00:00,171376,NaN,en,"Illinois, USA",4,"I don't know who needs to hear this, but #coro...",2010-06-27 20:18:34+00:00,iskandrah,18163,7695,True,unspecified,IL,False,False,US,admin,1.603045e+08,Twitter for Android,False
232154,2020-03-29 23:59:41+00:00,95,NaN,en,"Minnesota, USA",0,Trying my #comfilife #coccyx #cushion #sciatic...,2017-05-11 20:39:38+00:00,Customer_Effort,29,48,False,unspecified,MN,False,False,US,admin,8.627692e+17,Twitter for iPhone,False
232155,2020-03-29 23:59:41+00:00,15021,NaN,en,"Atlanta, GA",1,I am surprised too &gt; “Local leaders and som...,2009-10-05 22:12:28+00:00,rickeybevington,4199,1858,False,Atlanta,GA,False,False,US,city,8.013965e+07,Twitter for iPad,True
232156,2020-03-29 23:59:54+00:00,1077,NaN,en,"Chicago, IL",0,Another 30! #socialdistancing #coronavirus #co...,2009-04-17 01:00:08+00:00,djfenixchicago,819,217,False,Chicago,IL,False,False,US,city,3.223245e+07,Twitter for Android,False
232157,2020-03-29 23:59:54+00:00,244,NaN,en,"Albuquerque, NM",0,#Covid_19 relief. Better things to talk about ...,2010-02-12 13:17:24+00:00,isamh195,131,372,False,Albuquerque,NM,False,False,US,city,1.136284e+08,Twitter for Android,False

In [3]:
top_cities_nyc = (tweets['state'] == 'NY')
top_cities_nyc = tweets[top_cities_nyc]
# top_cities_solo = top_cities_nyc[['city', 'state']]

In [4]:
top_cities_nyc['city'].value_counts()[0:20]

Manhattan              14417
Brooklyn                4215
Queens                  3342
unspecified             2308
Bronx                   1101
Staten Island            398
Croton-on-Hudson         255
Buffalo                  224
Yonkers                  196
Syracuse                 173
North Valley Stream      165
Delmar                   149
Saratoga Springs         118
New Rochelle             112
Latham                   106
Cheektowaga              100
Amherst                   90
Southampton               66
Troy                      62
Centereach                60
Name: city, dtype: int64

In [5]:
top_cities_nyc['city'].replace(['Manhattan', 'Brooklyn', 'Queens',                     
                                'Bronx' , 'Staten Island' ], 'New York City', inplace = True)

C:\Users\ianbo\anaconda3\envs\dsi\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [6]:
top_cities_nyc

,created_at,favourites_count,status_id,lang,place_full_name,retweet_count,text,account_created_at,screen_name,followers_count,friends_count,verified,city,state,is_reply,is_retweet,country_code,place_type,user_id,source,is_quote
21,2020-08-10 04:41:43+00:00,2,1.292683e+18,en,"Manhattan, NY",0,How much education you need to go through to n...,2011-05-21 10:43:23+00:00,wangzhongxia,13411,3457,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN
32,2020-08-10 08:28:34+00:00,1,1.292740e+18,en,"Manhattan, NY",0,Quarantine partners for life. I love you bsumn...,2011-10-18 18:57:12+00:00,arlardieri,768,925,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN
33,2020-08-10 07:00:08+00:00,0,1.292717e+18,en,"Queens, NY",0,"COVID-19 update \nHome???\n100-15 204th St, Qu...",2019-09-09 05:59:59+00:00,johnnybebad666_,45,374,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN
43,2020-08-10 07:05:05+00:00,0,1.292719e+18,en,"Queens, NY",0,"COVID-19 update \nHome???\n100-15 204th St, Qu...",2019-09-09 05:59:59+00:00,johnnybebad666_,45,374,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN
49,2020-08-10 10:40:17+00:00,0,1.292773e+18,en,"Queens, NY",0,"August 10. Quarantine in Queens, Day 145\n\nP...",2007-05-05 00:53:07+00:00,Neilochka,4749,1298,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232103,2020-03-29 23:52:43+00:00,17,NaN,en,"Queens, NY",0,Day 14 in quarantine \n16 days more \nSo far \...,2010-11-14 17:58:31+00:00,ch_rehaan,2073,264,False,New York City,NY,False,False,US,city,215704002.0,Twitter for iPhone,False
232107,2020-03-29 23:53:05+00:00,52539,NaN,en,"Brooklyn, NY",0,This is the hospital most of my patients go to...,2011-03-04 01:36:18+00:00,molo011,384,985,False,New York City,NY,False,False,US,city,260522017.0,Twitter for iPhone,True
232122,2020-03-29 23:55:52+00:00,1,NaN,en,"Staten Island, NY",0,Quarantine portrait by tat2flaco \nContact the...,2010-12-13 05:15:12+00:00,inkstainedtatoo,186,53,False,New York City,NY,False,False,US,city,226050045.0,Instagram,False
232123,2020-03-29 23:56:03+00:00,3246,NaN,en,"Croton-on-Hudson, NY",0,Everyone is feeling #pressure even the beer......,2008-03-25 16:53:34+00:00,zezo_one,379,242,False,Croton-on-Hudson,NY,False,False,US,city,14216899.0,Instagram,False
232127,2020-03-29 23:56:27+00:00,818,NaN,en,"Manhattan, NY",0,#NewYorker yelled “shut up” during #2minutecla...,2009-04-20 18:54:15+00:00,jorgeortiz12,201,583,False,New York City,NY,False,False,US,city,33618826.0,Twitter for iPhone,False

The boroughs of New York City were collapsed into one 'New York City' label because NYC is a very centralized city despite its unique borough identities. The mayors office and city council make all important policy decisions that are not superseded by state authority.

In [7]:
top_cities_nyc['city'].value_counts()[0:20]

New York City          23473
unspecified             2308
Croton-on-Hudson         255
Buffalo                  224
Yonkers                  196
Syracuse                 173
North Valley Stream      165
Delmar                   149
Saratoga Springs         118
New Rochelle             112
Latham                   106
Cheektowaga              100
Amherst                   90
Southampton               66
Troy                      62
Centereach                60
Mount Vernon              59
Syosset                   57
Grand Island              56
North Hills               54
Name: city, dtype: int64

The top cities in New York state for tweets are NYC, Croton-on-Hudson, Buffalo, Yonkers, Syracuse, North Valley Stream, New Rochelle, Saratoga Springs, Delmar. There is notably a massive difference between New York City and any other city in the state.

In [8]:
city_policy = pd.read_excel('./city_policies.xlsx')

In [9]:
city_policy

,city,date_stay_home,date_end_stay_home,shelter_issued,date_travel_quarentine,travel_quarentine_issued,date_nonessential_close,date_open_nonessential,close_noneessential_issued,date_large_gather_ban,date_end_large_gather_ban,large_gather_ban_issued,date_school_close,date_rest_limit,date_end_rest_limit,rest_limit_issued,date_emergency_dec,date_mask_requirement,masks_required
0,New York City,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-07-06,1,2020-03-12,2020-07-20,1,2020-03-20,2020-03-16,2020-07-20,1,2020-03-07,2020-04-17,1
1,Croton-on-Hudson,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
2,Buffalo,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-16,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
3,Yonkers,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
4,Syracuse,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-12,1,2020-03-13,2020-06-26,1,2020-03-20,2020-03-16,2020-06-26,1,2020-03-07,2020-04-17,1
5,New Rochelle,2020-03-10,2020-06-27,1,2020-06-25,1,2020-03-10,2020-06-23,1,2020-03-10,2020-06-23,1,2020-03-20,2020-03-10,2020-06-23,1,2020-03-07,2020-04-17,1
6,Saratoga Springs,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-17,1,2020-03-13,2020-07-01,1,2020-03-20,2020-03-16,2020-07-01,1,2020-03-07,2020-04-17,1
7,Delmar,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-17,1,2020-03-13,2020-07-01,1,2020-03-20,2020-03-16,2020-07-01,1,2020-03-07,2020-04-17,1

City policies were collected from a combination of city websites, press releases, and local newspapers. A full list of sources can be found [here](https://docs.google.com/document/d/1vCinvwVOlSMY2jlwrJqPWo1YVEa3VZivqq1aydYlVcY/edit?usp=sharing)

In [10]:
city_policy = top_cities_nyc.merge(city_policy, on = 'city')

In [11]:
city_policy

,created_at,favourites_count,status_id,lang,place_full_name,retweet_count,text,account_created_at,screen_name,followers_count,friends_count,verified,city,state,is_reply,is_retweet,country_code,place_type,user_id,source,is_quote,date_stay_home,date_end_stay_home,shelter_issued,date_travel_quarentine,travel_quarentine_issued,date_nonessential_close,date_open_nonessential,close_noneessential_issued,date_large_gather_ban,date_end_large_gather_ban,large_gather_ban_issued,date_school_close,date_rest_limit,date_end_rest_limit,rest_limit_issued,date_emergency_dec,date_mask_requirement,masks_required
0,2020-08-10 04:41:43+00:00,2,1.292683e+18,en,"Manhattan, NY",0,How much education you need to go through to n...,2011-05-21 10:43:23+00:00,wangzhongxia,13411,3457,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-07-06,1,2020-03-12,2020-07-20,1,2020-03-20,2020-03-16,2020-07-20,1,2020-03-07,2020-04-17,1
1,2020-08-10 08:28:34+00:00,1,1.292740e+18,en,"Manhattan, NY",0,Quarantine partners for life. I love you bsumn...,2011-10-18 18:57:12+00:00,arlardieri,768,925,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-07-06,1,2020-03-12,2020-07-20,1,2020-03-20,2020-03-16,2020-07-20,1,2020-03-07,2020-04-17,1
2,2020-08-10 07:00:08+00:00,0,1.292717e+18,en,"Queens, NY",0,"COVID-19 update \nHome???\n100-15 204th St, Qu...",2019-09-09 05:59:59+00:00,johnnybebad666_,45,374,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-07-06,1,2020-03-12,2020-07-20,1,2020-03-20,2020-03-16,2020-07-20,1,2020-03-07,2020-04-17,1
3,2020-08-10 07:05:05+00:00,0,1.292719e+18,en,"Queens, NY",0,"COVID-19 update \nHome???\n100-15 204th St, Qu...",2019-09-09 05:59:59+00:00,johnnybebad666_,45,374,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-07-06,1,2020-03-12,2020-07-20,1,2020-03-20,2020-03-16,2020-07-20,1,2020-03-07,2020-04-17,1
4,2020-08-10 10:40:17+00:00,0,1.292773e+18,en,"Queens, NY",0,"August 10. Quarantine in Queens, Day 145\n\nP...",2007-05-05 00:53:07+00:00,Neilochka,4749,1298,False,New York City,NY,False,False,US,unspecified,NaN,NaN,NaN,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-07-06,1,2020-03-12,2020-07-20,1,2020-03-20,2020-03-16,2020-07-20,1,2020-03-07,2020-04-17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,2020-03-29 18:27:19+00:00,43024,NaN,en,"Yonkers, NY",1,#COVID19| I understand our experiences under #...,2010-05-16 17:47:43+00:00,MikeyKayNYC,17832,719,True,Yonkers,NY,False,False,US,city,144569635.0,Twitter for iPhone,False,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
24696,2020-03-29 19:36:18+00:00,43024,NaN,en,"Yonkers, NY",3,"#COVID19 this release, dated 7 Feb 2020|\n\n´T...",2010-05-16 17:47:43+00:00,MikeyKayNYC,17832,719,True,Yonkers,NY,False,False,US,city,144569635.0,Twitter for iPhone,False,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
24697,2020-03-29 19:40:07+00:00,43024,NaN,en,"Yonkers, NY",4,#COVID19| the U.S’s ability to respond to #COV...,2010-05-16 17:47:43+00:00,MikeyKayNYC,17832,719,True,Yonkers,NY,False,False,US,city,144569635.0,Twitter for iPhone,True,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
24698,2020-03-29 19:45:57+00:00,43026,NaN,en,"Yonkers, NY",1,#Covid_19| Week of Feb 3rd you gave away 17.8 ...,2010-05-16 17:47:43+00:00,MikeyKayNYC,17832,719,True,Yonkers,NY,False,False,US,city,144569635.0,Twitter for iPhone,True,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1
24699,2020-03-29 21:22:50+00:00,43026,NaN,en,"Yonkers, NY",3,#Covid_19 #Wuhan| \n\nSee link —Based on numbe...,2010-05-16 17:47:43+00:00,MikeyKayNYC,17832,719,True,Yonkers,NY,False,False,US,city,144569635.0,Twitter for iPhone,False,2020-03-22,2020-06-27,1,2020-06-25,1,2020-03-22,2020-06-23,1,2020-03-13,2020-06-23,1,2020-03-20,2020-03-16,2020-06-23,1,2020-03-07,2020-04-17,1

In [12]:
city_policy.to_csv('city_policies_ny.csv', index= False)

After combining the policies with the relevant tweets, the data is ready for sentiment analysis and mapping.